VITE_SUPABASE_URL=https://auzrmrnawmjgclmldqzv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF1enJtcm5hd21qZ2NsbWxkcXp2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQxOTk5MzIsImV4cCI6MjA4OTc3NTkzMn0.-fAU5Gd4-Ytiv_nWjm-ldMk92MkfMHn1SsSYbKEUjk8
VITE_SITE_URL=http://localhost:5173